<nav class="nav">
  <div class="nav-logo">Poké<span>dex</span></div>
  <div class="nav-count">
    <!-- <strong>{{ pokemonService.total() }}</strong> Einträge geladen -->
  </div>

  <select class="language-select" [value]="currentLang" (change)="setLanguage($event)">
    @for (lang of languages; track lang.code) {
      <option [value]="lang.code">{{ lang.label }}</option>
    }
  </select>

  <button
    mat-icon-button
    disableRipple
    (click)="toggleTheme()"
    [attr.aria-label]="isDarkMode() ? 'Switch to light mode' : 'Switch to dark mode'"
    class="mobile-theme-toggle"
  >
    <mat-icon>{{ isDarkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
</nav>
